<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.25/dist/vue.global.prod.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.2.2/dist/vue-i18n.global.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue-router@4.0.16/dist/vue-router.global.prod.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-demi/0.13.1/index.iife.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <link rel="icon" href="/template/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Html Template</title>
    <script type="module" crossorigin src="/template/assets/index-D3jXkOi3.js"></script>
    <link rel="stylesheet" crossorigin href="/template/assets/index-XBLI-L7r.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
